<html>
    <head>
        {% include "bootstrap.html" %}
        <title> Mixology - {{drink.name}}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">

            <div class="col-md-2">
                {% if drink.image != '' %}

                <img class="drink-avatar" src="/static/images/{{drink.image}}"/>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h1>{{drink.name}} </h1>

                <p>{{drink.description}}</p>
            </div>
            <div class="col-md-12">
                <h2>Ingredients</h2>
                     <table class="table">
                     <tr>
                     <th>Ingredient</th>
                     <th>Amount</th>
                     <th>Comment</th>
                     </tr>
                    {% for r in ingredients %}
                        <tr>
                        <td> {{r.ingredient.name}}</td>
                        <td> {{r.amount}} {{r.ingredient.unit}}</td>
                        <td> {{r.note}}</td>
                        </tr>
                    {% endfor %}


                     </table>
            </div>
        </div>
    </body>
</html>
