{% extends "base.html" %}

{% block title %}Mixology{% endblock %}

{% block content %}
        <div class="container">

            <div class="col-md-2">
                {% if drink.image != '' %}

                <img class="drink-avatar" src="/static/images/{{drink.image}}"/>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h1>{{drink.name}} </h1>

                <p>{{drink.description}}</p>
            </div>

            <div class="col-md-12">
                <h2>Ingredients</h2>
                     <table class="table">
                     <tr>
                     <th>Ingredient</th>
                     <th>Amount</th>
                     <th></th>
                     </tr>
                    {% for r in ingredients %}
                        <tr>
                        <td> {{r.ingredient.name}}</td>
                        <td> {{r.amount}} {{r.ingredient.unit}}</td>
                        <td> {{r.note}}</td>
                        </tr>
                    {% endfor %}
                </table>

                {% csrf_token %}
                </form>
                <button class="btn btn-default" id="upvote" onclick="upvote()">Yum! I like it!</button>
                <button class="btn btn-default" id="downvote" onclick="downvote()">Yuck! I hate it!</button>

                <div class= "progress">
                    <div class="progress-bar progress-bar-success" style="width: {{drink.upvoteperc}}%"></div>
                    <div class="progress-bar progress-bar-danger" style="width: {{drink.downvoteperc}}%"></div>
                </div>

                <script type="text/javascript">
                    var vote = 0;
                    function upvote(){
                        var newvote = 0;
                        if(vote != 1) {
                            newvote = 1;
                            var btn = document.getElementById("upvote");
                            btn.className = "btn btn-success";
                            var dbtn = document.getElementById("downvote");
                            dbtn.className = "btn btn-default";
                        } else {
                            newvote = 0;
                            var btn = document.getElementById("upvote");
                            btn.className = "btn btn-default";
                            var dbtn = document.getElementById("downvote");
                            dbtn.className = "btn btn-default";
                        }

                        $.ajax({
                            type: "POST",
                            url: "vote/",
                            data: {
                                'oldvote' : vote,
                                'newvote' : newvote,
                                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                                },
                            error: function(xhr, textStatus, errorThrown){
                                alert(errorThrown);
                            },
                            dataType: 'html'
                        });

                        vote = newvote;
                    }

                    function downvote() {
                        var newvote = 0;
                        if(vote != -1) {
                            newvote = -1;
                            var btn = document.getElementById("upvote");
                            btn.className = "btn btn-default";
                            var dbtn = document.getElementById("downvote");
                            dbtn.className = "btn btn-danger";
                        } else {
                            newvote = 0;
                            var btn = document.getElementById("upvote");
                            btn.className = "btn btn-default";
                            var dbtn = document.getElementById("downvote");
                            dbtn.className = "btn btn-default";
                        }

                        $.ajax({
                            type: "POST",
                            url: "vote/",
                            data: {
                                'oldvote' : vote,
                                'newvote' : newvote,
                                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                                },
                            error: function(xhr, textStatus, errorThrown){
                                console.log(xhr);
                                alert(errorThrown);
                            },
                            dataType: 'html'
                        });

                        vote = newvote;
                    }

                </script>
            </div>
{% endblock %}