<html>
    <head>
        {% include "bootstrap.html" %}
        <title> Mixology </title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

        <script src="/static/js/jquery-2.1.0.min.js"></script>
        <script src="/static/js/ajax.js"></script>
    </head>
    <body>
        <div class="container">

            <h3> Search </h3>
            {% csrf_token %}
            <input type="text" id="search" name="search" class="form-control"/>
            <div id="search-results" class="list-group">

            </div>
        </div>
    </body>
</html>
