


{% extends "base.html" %}

{% block title %}Mixology{% endblock %}
 {% block head %}
        <script src="/static/js/ajax.js"></script>
    {% endblock %}
{% block content %}
<div class="container">

    <h3> Search </h3>
    {% csrf_token %}
    <input type="text" id="search" name="search" class="form-control"/>
    <div id="search-results" class="list-group">
        {% for drink in drinks %}
        <span class="list-group-item"><a href="/drink/{{drink.id}}"">{{drink.name}}</a></span>
        {% endfor %}
    </div>
</div>
{% endblock %}